.card.card-container
  %h2
    = @user.new_record? ? "Add Client" :  "Edit Client"
  = simple_form_for([:admin, @user], :html => {:class => 'form-signin'}) do |f|
    = f.error_notification
    .form-group
      = f.input :first_name, required: true, autofocus: true, :class => 'form-control'
      = f.input :last_name, required: true, :class => 'form-control'
      = f.input :username, required: true, :class => 'form-control'
      = hidden_field_tag "user[type]", "client"
      = f.input :email, :class => 'form-control'
      = hidden_field_tag "user[password]", ENV["ADMIN_PWD"]
      = hidden_field_tag "user[password_confirmation]", ENV["ADMIN_PWD"]
      = f.simple_fields_for :client do |c|
        = c.input :dob, required: false,:html => { :class => 'form-control datepicker' }
        = c.input :nationality, required: false, :class => 'form-control'
        = c.label :gender
        = c.select :gender , gender_lists, :selected => @user.new_record? ? "true" : @user.client.gender
        = c.input :occupation, required: false,:html => { :class => 'form-control' }
        %div{:style => "float: left; width: 100%"}
          = c.check_box :is_married, {:checked => @user.new_record? ? false : @user.client.is_married}
          = c.label :is_married ,required: false, :style => "float: left"
        = c.input :rfc, required: false ,:html => { :class => 'form-control' }
        = c.input :curp, required: false,:html => { :class => 'form-control' }
        = c.input :street, required: false,:html => { :class => 'form-control' }
        = c.input :interior_number, required: false,:html => { :class => 'form-control' }
        = c.input :exterior_number, required: false,:html => { :class => 'form-control' }
        = c.input :suburb, required: false,:html => { :class => 'form-control' }
        = c.input :municipality, required: false,:html => { :class => 'form-control' }
        = c.input :state, required: false,:html => { :class => 'form-control' }
        = c.input :postal_address, required: false,:html => { :class => 'form-control' }
        = c.input :mobile_number, required: false,:html => { :class => 'form-control' }
        = c.input :office_number, required: false,:html => { :class => 'form-control' }
        = c.input :home_number, required: false,:html => { :class => 'form-control' }
    .form-actions
      = f.button :submit, "Submit"



:javascript
  $("input[name='user[client_attributes][dob]']").datepicker({
    format: 'yyyy-mm-dd'
   });
     $("input[name='user[client][dob]']").datepicker({
    format: 'yyyy-mm-dd'
   });