= render "shared/admin_menu"
#page-wrapper
  .row
    .col-lg-12
      %h2 Phases
      .panel.panel-default
        .panel-heading
          %i.fa.fa-bar-chart-o.fa-fw
          %span
            = link_to 'Add New', new_admin_phase_path, :class => "btn btn-primary btn-sm"
        / /.panel-heading
        .panel-body
          .row
            .col-lg-12
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped
                  %thead
                    %tr
                      %th #
                      %th Name
                      %th Actions
                  %tbody
                    -unless @phases.blank?
                      - @phases.each_with_index do |phase, index|
                        %tr
                          %td
                            = index + 1
                          %td
                            = phase.name
                          %td
                            = link_to("edit", edit_admin_phase_path(phase))
                            = link_to("Details", details_admin_phase_path(phase))
                            = link_to 'Delete',url_for(action: :destroy,id: phase.id),method: :delete, data: {confirm: "Are you sure?"}