!!!
%html{:lang => "es"}
  %head
    %title= content_for?(:title) ? yield(:title) : "El Encino1"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ :content => content_for?(:description) ? yield(:description) : "Encino Residencial", :name => "description" }
    %meta{:name => "google-site-verification", content: "k-1PZoIRcMQWKjPFUYo0ff7vWMqs5hzHkc2HhJ_0vyI"}
    %meta{:name => "keywords", content: "El, Encino, Residencial, Querétaro, Queretaro, Ventas, Fraccionamiento, Urbanizacion, Urbanización, Casa, club, Casas, trekCin"}

    %link{ :href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700", :rel => "stylesheet", :type => "text/css" }
    = stylesheet_link_tag :admin, :media => "all"
    = javascript_include_tag :application
    = javascript_include_tag :admin
    = csrf_meta_tags
    = yield(:head)

  %body
    #menu.container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
    = yield


    %script{:src => "/assets/js-webshim/minified/polyfiller.js"}
    :javascript
      webshims.polyfill();
      $(function(){
            // work with the HTML5 API
            $('input:invalid').each(function(){
                $(this).after( $.prop(this, 'validationMessage') );
            });
            // ...
        });
      $(function () {
          $(".form-group").contents().filter(function () {
              return this.nodeType != 1;
          }).replaceWith("");
      });

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65954020-1', 'auto');
      ga('send', 'pageview');
