!!!
%html{:lang => "es"}
  %head
    %title= content_for?(:title) ? yield(:title) : "El Encino"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ :content => content_for?(:description) ? yield(:description) : "Encino Residencial", :name => "description" }
    %meta{:name => "google-site-verification", content: "k-1PZoIRcMQWKjPFUYo0ff7vWMqs5hzHkc2HhJ_0vyI"}
    %meta{:name => "keywords", content: "El, Encino, Residencial, Querétaro, Queretaro, Ventas, Fraccionamiento, Urbanizacion, Urbanización, Casa, club, Casas, trekCin"}

    %link{ :href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700", :rel => "stylesheet", :type => "text/css" }
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)

  %body
    = yield


    :css
      .invalid input:required:invalid{
        background: #BE4C54
       }

      /* Mark valid inputs during .invalid state */
      .invalid input:required:valid {
        background: #17D654 ;
      }
    :javascript
      function hasHtml5Validation () {
       return typeof document.createElement('input').checkValidity === 'function';
      }

      console.log(hasHtml5Validation())
      if (hasHtml5Validation()) {

      }